---
layout: default
---

<div class="index-header" markdown='1'>
    <h1>Crypto Anarchy:</h1>
    <p>Encryption, digital money, anonymous networks, digital pseudonyms, zero knowledge, reputations, information markets, black markets, collapse of governments.</p>
</div>

<hr>

<h2>Recent Blog Posts <a href="/feed.xml"><i class="fa fa-rss"></i></a></h2>

<ul>
    {% for post in site.posts limit:3 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a> – <i>{{ post.date | date_to_string }}</i></li>
    {% endfor %}
</ul>

{% include index_section.html title='Getting Started' collection_name='getting_started' %}

{% include index_section.html
    title='Contribute'
    collection_name='contribute'
    description='<p>Maybe in the future, this site will have full wiki functionality.</p>
      <p>For now, contributors can submit pull requests to the following repository:</p>
      <p><i>There are instructions on this page, so even the non-technical can contribute.</i></p>'
%}

{% include index_section.html title='Cypherpunks Mailing List' collection_name='mailing_list' %}

{% include index_section.html title='Sources' collection_name='sources' %}

{% include index_section.html title='People & Organisations' collection_name='people_and_organisations' %}

{% include index_section.html title='Events' collection_name='events' %}

{% include index_section.html title='Key Concepts' collection_name='key_concepts' %}

{% include index_section.html title='Notable Projects' collection_name='notable_projects' %}
