---
layout: default
---

<div class="index-header" markdown='1'>
    <h1>Crypto Anarchy:</h1>
    <p>Encryption, digital money, anonymous networks, digital pseudonyms, zero knowledge, reputations, information markets, black markets, collapse of governments.</p>
</div>

<hr>

<h2>Recent Blog Posts</h2>

<ul>
    {% for post in site.posts limit:3 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a> – <i>{{ post.date | date_to_string }}</i></li>
    {% endfor %}
</ul>

{% include index_section.html title='Getting Started' collection_name='getting_started' %}

{% include index_section.html
    title='Contribute'
    collection_name='contribute'
    description='<p>Maybe in the future, this site will have full wiki functionality.</p>
      <p>For now, contributors can submit pull requests to the following repository:</p>'
%}

{% include index_section.html title='Cypherpunks Mailing List' collection_name='mailing_list' %}

{% include index_section.html title='Sources' collection_name='sources' %}

<h2>People & Organisations</h2>

Note that the same person may occur on multiple lists.

<ul>
    <li>Pioneers of Modern Cryptography</li>
    <li>Early Cypherpunks</li>
    <li>Cryptocurrency Notables</li>
    <li>Later Cypherpunks and Crypto-Anarchists</li>
    <li>Notable Organsations</li>
    <li>Cypherpunk Successor Online Communities</li>
    <li>Cypherpunk/Cryptocurrency Publications</li>
    <li>Miscelaneous</li>
</ul>

<h2>Events</h2>

<ul>
    <li>1970s - The Discovery of Public Key Cryptography</li>
    <li>1990s - Crypto Wars, Phil Zimmermann and PGP</li>
    <li>2008/2009 - The Creation of Bitcoin and Early Community</li>
    <li>Jun 2011 - The Great Bitcoin Bubble of 2011</li>
    <li>Feb 2011-Oct 2013 - The Rise and Fall of the Silk Road</li>
    <li>Mar 2012 - The Bitcoinica Hack</li>
    <li>June 2013 - The Snowden Leaks</li>
    <li>Apr-Dec 2013 - The Second and Third Bitcoin Bubbles</li>
    <li>Feb 2014 - The Collapse of Mt Gox (The Final Goxxing)</li>
    <li>Feb 2015 - The Trial of Ross Ulbricht</li>
    <li>May 2016 - The Craig Wright Affair (and other attempts to identify Satoshi)</li>
    <li>June 2016 - The DAO Hack</li>
    <li>Early 2017 - The Altcoin/ICO Bubble and Fourth Bitcoin Bubble</li>
    <li>Jul/Aug 2017 - Bitcoin Scaling Battles (Big vs Small Blockers)</li>
</ul>

<h2>Key Concepts</h2>

<ul>
    <li>Public/Private Key Cryptography</li>
    <li>Hash Functions</li>
    <li>Cryptographic Signatures</li>
    <li>End-to-End Encryption</li>
    <li>PGP</li>
    <li>Anonymous Remailers</li>
    <li>BitTorrent</li>
    <li>Onion Routing</li>
    <li>Blockchains</li>
    <li>Merkle Trees</li>
    <li>Bloom Filters</li>
    <li>Distributed Hash Tables</li>
    <li>P2P Routing Algorithms</li>
    <li>Mesh Networks</li>
</ul>

<h2>Notable Projects</h2>

<ul>
    <li>Bitcoin</li>
    <li>BitTorrent</li>
    <li>Ethereum</li>
    <li>IPFS</li>
    <li>JoinMarket</li>
    <li>OpenBazaar</li>
    <li>Opendime</li>
    <li>PGP</li>
    <li>Tor</li>
</ul>
