
<h2>{{ include.title }}</h2>
{% if include.description %}
    {{ include.description }}
{% endif %}
<ul>
    {% assign items = site[include.collection_name] | sort: 'order' %}
    {% for item in items %}
        {% if item.external_link == true %}
            <li><a href="{{ item.external_url }}">{{ item.title }}</a></li>
        {% elsif item.no_content == true %}
            <li>{{ item.title }}</li>
        {% else %}
            <li><a href="{{ item.permalink }}">{{ item.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
