{% if include.title %}
    <h2>{{ include.title }}</h2>
{% endif %}
{% if include.description %}
    {{ include.description }}
{% endif %}
<ul>
    {% assign items = site[include.collection_name] | sort: 'order' %}
    {% for item in items %}
        <li>
            {% if item.link-date-prefix %}
                {{ item.link-date-prefix }} - 
            {% endif %}
            {% if item.external_link == true %}
                <a href="{{ item.external_url }}">{{ item.title }}</a>
            {% elsif item.no_content == true %}
                {{ item.title }}
            {% else %}
                <a href="{{ item.permalink }}">{{ item.title }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
