---
layout: default
---

<div class="index-header" markdown="1">
  <h1>{{ page.title }}</h1>
</div>
<hr />
{{ content }}
<hr />
<p>
  <a href="/">Return to Home</a>
</p>

<p style="font-style: italic">
  Please note that the information presented on this site was composed from
  publicly available materials in mainly 2017 and 2018 and has not been
  significantly updated since.
</p>

<p style="font-style: italic">
  The information presented here may be significantly out of date or even
  inaccurate. In the case of inaccuracy, please file an Issue in the GitHub
  repo. The site should not be used as a source of truth.
</p>
